body{
    background-color: #A168D5;
}

.logo{
    width: 300px;
    margin-bottom: 30px;
    display: block;
}



header{
    background-color: #600CAC;
    display: flex;

}

nav a{
    border-radius: 5px;
    background: #3C0470;
    padding: 10px 40px 10px 40px;
    margin-left: 50px;
    text-align: center;
    margin-bottom: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;

}

nav{
    text-decoration: none;
    margin-top: 150px;
    margin-left: 300px;


}

nav a:hover{
    color: #A668D5 ;
    border: #A668D5 2px solid;
    transition: all 0.1s;
}



.slider{
    position: relative;
    width: 680px;
    margin: 50px auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
    border: solid #592680 3px;
    border-radius: 20px;
}

.slider input[name="switch"] {
    display: none;
    
}

.switch{
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
    
    
}

.switch label{
    display: inline-block;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 5px solid #2f363c;
    background-color: #738290;
    width: 5px;

}

#btn1:checked~.switch label[for="btn1"] {
    background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
    background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
    background-color: white;
}

.slider-inner{
    overflow: hidden;
}

.slides{
    width: 300%;
    transform: all 0.5s;
}

.slides img {
    width: 680px;
    height: 340px;
    float: left;
    border-radius: 20px;
    
}

#btn1:checked~.slider-inner slides {
    transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
    transform: translate(-680px);
}

#btn3:checked~.slider-inner .slides {
    transform: translate(-1360px);
}

.akci{
    border-radius: 5px;
    background: #3C0470;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline;
    margin-left: 880px;
    margin-top: 10px;
}

.top{

    width: 500px;
    height: 550px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;


    
}

.ob{
    margin-top: 10px;
    background-color: #600CAC;
    border-radius: 20px;
    margin-left: 10px;


}


.ce{
    border-radius: 20px;
    background-color: #3C0470;
    width: 520px;
    height: 800px;
    margin-left: 20px;
    box-shadow: 3px 5px 10px 0 black;

  
}

.ce:hover{
    border: #592680 5px solid;
    transition: all 0.1s;

}

.bn{
    color: white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;

}

.q{
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.op{
    color: red;
    font-size: 30px;
    margin-left: 10px;
}

.opw{
    color: #3F4A42;
    font-size: 20px;
    text-decoration: line-through;
    margin-left: 10px;
}

.qwe{
    margin-top: 50px;
    position: absolute;
    
}


.ga{
    position: absolute;
    margin-left: 650px;
    margin-top: 50px;

}

.qa{
    position: absolute;
    margin-left: 1320px;
    margin-top: 50px;

}


footer{
    background-color: #3C0470;
    margin-top: 1000px;
    color: white;
    height: 550px;
    padding-top: 10px;
    

}

.footer{
    border-radius: 20px;
    width: 350px;
    background-color: #600CAC;
    font-size: 25px;
    margin-bottom: 500px;
    margin-left: 10px; 
    position: absolute;
}

.footera{
    border-radius: 20px;
    width: 500px;
    height: 420px;
    background-color: #600CAC;
    font-size: 25px;
    
    margin-left: 680px; 
    position: absolute;

}

.footers{
    border-radius: 20px;
    width: 500px;
    height: 450px;
    background-color: #600CAC;
    font-size: 25px;
    text-decoration: none;
    margin-left: 1350px; 
    position: absolute;

}

.q{
    font-size: 25px;
    margin-bottom: 10px;
    text-decoration: none;
}




.QWSD{
    margin-top: 10px;
    margin-left:10px ;
    
}

.footera p{
    margin-left:10px ;

}
.footer p{
    margin-left:10px ;

}

.as{
    margin-left: 10px;
}


.footer:hover{
    border: #592680 5px solid;
    transition: all 0.1s;
}

.footera:hover{
    border: #592680 5px solid;
    transition: all 0.1s;
}

.footers:hover{
    border: #592680 5px solid;
    transition: all 0.1s;
}

.footers a:hover{
    color: #A668D5;
    transition: all 0.1s;
}
